{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sales Dashboard{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sales.css' %}"> 
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">        {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="https://www.itsolution4india.com/">IT Solution4India</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sales_dashboard'%}">Employee Dashboard</a>
                    </li>
                    <!-- Add more nav links as needed -->
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link login-btn" href="{% url 'logout' %}">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <main>
        {% block content %}
        <!-- Default content can go here -->
        {% endblock %}
    </main>
</body>
</html>
